# rewrite all requests to request handler
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^.* .server/request.php
</IfModule>
<IfModule mod_security.c>
  SecFilterEngine Off
</IfModule>
<IfModule mod_dir.c>
  DirectorySlash Off
</IfModule>